/* Common shared styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.paragraph-style {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}

.heading-text-style {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

/* Nav and header related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #424242;
    padding-left: 20px;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
}

header img {
    width: 100%;
}

.banner-heading {
    font-size: 4rem;
    padding-bottom: 30px;
}

.banner-texts {
    text-align: center;
    padding-bottom: 35px;
}

.banner-description {
    width: 868;
    padding-bottom: 30px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: white;
    font-size: 1.25rem;
    font-weight: 600px;
    cursor: pointer;

}

/* main related styles */
.features-paragraph {
    width: 537px;
    padding-bottom: 18px;
}

.features-heading {
    width: 468px;
    padding-bottom: 20px;
}

.text-color-1 {
    color: #727272;
    font-weight: 500;
}

.text-color-2 {
    color: #FF900E;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    display: flex;
    margin-top: 85px;
    align-items: center;
    justify-content: space-evenly;
}

/* feature-narration styles */
.rectangle {
    background-color: #FF900E;
    width: 5px;
    height: 106px;
    position:relative;
    top: 105px;
    right:25px
}

.feature-narration-heading {
    padding-bottom: 20px;
}

.card-heading {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0px 10px 20px;
}

.card-paragraph {
    width: 514px;
    padding-left: 20px;
}

.card {
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
}

.feature-narration {
    display: flex;
    margin-top: 150px;
    gap: 120px;
    align-items: center;
}

/* .feature-narration-image{
    width:708px;
} */
.qualification {
    width: 290px;
    height: 150px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
    position: relative;
    left: 610px;
    bottom: 100px;
}

.experience-time {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    padding-top: 25px;
}

.experience-description {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

/* Facts-section style */

.facts-heading {
    padding-bottom: 20px;
}

.fact-types {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.facts-details {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

/* sponsors section style */

.sponsors {
    margin-top: 100px;
    text-align: center;
}

.sponsors-images {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;

}

.sponsors-heading {
    padding: 15px;
}

/* footer section style */

.footer {
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    color: #424242;
    margin-top: 170px;
    margin-bottom: 20px;
}

footer p {
    padding-top: 50px;
}




/* MEDIA QUERY SECTION */
@media screen and (max-width:675px) {

    nav,
    .features,
    .feature-narration,
    .sponsors-images {
        flex-direction: column;
    }

    .feature-narration {
        gap: 15px;
    }

    .team-images {
        grid-template-columns: 1fr;
    }

    .feature-narration img {
        width: 100%;
    }

    .features-heading,
    .features-paragraph {
        width: 360px;
        margin-top: 25px;
    }

    .qualification {
        margin-left: -580px;
        margin-top: 50px;
    }

    .card {
        width: 330px;
        height: 200px;
    }

    .card-paragraph {
        width: 300px;
    }

    .fact-types {
        flex-direction: column;
        margin-top: 30px;
    }

    .facts-section {
        margin-top: 60px;
    }

    .facts-details {
        margin-top: 10px;
    }

    .sponsors-images img {
        padding-top: 25px;
    }

    .sponsors-images {
        margin-top: -1px;
    }

    footer p {
        padding-bottom: 30px;
    }
    .rectangle{
        right: 7px;
    }
}


/* medium devices */

@media screen and (min-width:675px) and (max-width:960px) {

    .features,
    .feature-narration,
    .sponsors-images {
        flex-direction: column;
    }

    .features-texts {
        padding-top: 50px;
    }

    .feature-narration-image {
        width: auto;
    }

    .feature-narration-image img {
        width: 100%;
    }

    .facts-section {
        margin-top: 50px;
    }

    .facts-details {
        margin-top: -45px;
    }

    .sponsors-images img {
        padding-top: 30px;
    }

    .qualification {
        margin-left: -340px;
        margin-top: 10px;
    }
}